<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pin Changed </title>
</head>
<body>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
	
	var fname = "[[${fname}]]";
	var lname = "[[${lname}]]";
	var uname = "[[${uname}]]";	
	var email = "[[${email}]]";
	console.log(fname);
	console.log(lname);
	console.log(uname);
	console.log(email);
	Swal.fire({
		  position: 'top-end',
		  icon: 'success',
		  title: 'Congratulations! Password Changed Successfully!',
		  showConfirmButton: false,
		  timer: 1500
	}).then(function() {
				Email.send({
				  SecureToken : "8ee728d5-0750-4e96-9095-8fa4a4de44a5",
		          To : email,
		          From : 'manumaanowais809@gmail.com',
		          ReplyTo : 'manumaanowais809@gmail.com',
		          Subject : "Congratulations, Your Pin Is Changed Successfully For Account "+uname,
		          Body : "<br>"
						+"<div style='margin-left:20px'>"
							+"Hi <b>"+fname+" "+lname+" </b>"
		          			+"<br>Your Pin is changed successfully."
		          			+"<br><br>If you have not changed your pin or notice any error please contact us at <a href='#'>manumaanowais809@gmail.com</a> "
		          			+"<br><br><br>Thank you for Choosing MNR Bank."
		          			+"<br><br><br>Cheers!<br>Team MNR"
		          		+"</div>"
		          	}).then(
							window.location="/signin"
					)
			});
</script>
</html>